body{
    background-image: url("https://www.slt-leisure.co.uk/filestore/635048014540156250.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    width: 80%;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 10%;
    border-radius: 20px;
    padding: 5%;
}
